Django==5.2.3
gunicorn
whitenoise
psycopg2-binary
dj-database-url
djangorestframework
crispy-bootstrap5
django-extensions
pillow>=10.2.0,<10.3.0
face-recognition==1.3.0
face_recognition_models==0.3.0
facenet-pytorch==2.6.0
torch==2.2.0
torchvision==0.17.0
opencv-python==4.9.0.80
numpy
